version: "3.7"

services:
  videoroom:
    image: membraneframework/membrane_videoroom:${TAG:-latest}
    network_mode: "host"
    restart: on-failure
    environment:
      VIRTUAL_HOST: "${VIRTUAL_HOST:-localhost}"
      USE_INTEGRATED_TURN: "true"
      EXTERNAL_IP: "${EXTERNAL_IP:-127.0.0.1}"
      INTEGRATED_TURN_PORT_RANGE: "50000-65355"
      INTEGRATED_TCP_TURN_PORT: "49999"
      STORE_METRICS: "true"
      DATABASE: "membrane"
      DB_USERNAME: "${DB_USERNAME}"
      DB_PASSWORD: "${DB_PASSWORD}"
      DB_HOSTNAME: "127.0.0.1"
    volumes:
      - type: volume
        source: grafana-provisioning
        target: /app/grafana/provisioning
  timescale:
    image: timescale/timescaledb:2.10.3-pg14
    network_mode: "host"
    restart: on-failure
    environment:
      POSTGRES_DB: "membrane"
      POSTGRES_USER: "${DB_USERNAME}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
  grafana:
    image: grafana/grafana:9.1.5
    network_mode: "host"
    restart: on-failure
    volumes:
      - type: volume
        source: grafana-provisioning
        target: /etc/grafana/provisioning
        read_only: true
        volume:
          nocopy: true
    environment:
      DB_URL: "localhost:5432"
      DB_NAME: "membrane"
      DB_USERNAME: "${DB_USERNAME}"
      DB_PASSWORD: "${DB_PASSWORD}"
      GF_SECURITY_ADMIN_PASSWORD: "${GF_SECURITY_ADMIN_PASSWORD}"
      GF_SECURITY_ADMIN_USER: "${GF_SECURITY_ADMIN_USER}"
    depends_on:
      - videoroom

volumes:
  grafana-provisioning:
