<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Membrane Videoroom WebRTC demo</title>
    <link rel="stylesheet" href={static_path(@conn, "/assets/css/app.css")} />
    <link rel="icon" type="image/svg+xml" href={static_path(@conn, "/svg/favicon.svg")} />
    <link rel="icon" type="image/png" href={static_path(@conn, "/svg/favicon.png")} />
    <link rel="stylesheet" href="https://use.typekit.net/rlp1ezr.css" />
    <script defer type="text/javascript" src={static_path(@conn, "/assets/js/app.js")}></script>
  </head>

  <body class="h-screen relative">
      <main role="main h-screen">
        <%= @inner_content %>
      </main>
      <div>
        <label class="absolute text-brand-dark-blue-500 text-xl left-0 bottom-5 left-3 invisible md:visible">Version: <%= version() %></label>
      </div>
  </body>
</html>
