name: Sandbox Build and Deploy
on:
  push:
    branches: 
      - "sandbox"
    paths:
      - "**"
      - "!README.md"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Declare variables
        id: vars
        shell: bash
        run: |
          echo "::set-output name=version::$(git describe --tags --always)"

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push sandbox version 
        id: docker_build_sandbox
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          push: true
          build-args: VERSION= ${{ steps.vars.outputs.version }}
          tags: membraneframework/demo_webrtc_videoroom_advanced:sandbox
      
      - name: Change Docker-Compose tag before deployment
        id: sed_that_compose
        run: sed -i -e "s/latest/sandbox/g" docker-compose.yml
      
      - name: Change Docker-Compose domain address before deployment
        id: sed_it_again
        run: sed -i -e "7 s/videoroom/sandbox-videoroom/" docker-compose.yml

      - name: Change Docker-Compose integrated TURN IP before deployment
        id: sed_it_once_more
        run: sed -i -e "9 s/65.21.244.250/95.216.159.234/" docker-compose.yml

  deploy:
    runs-on: ubuntu-latest
    steps:  
      - uses: actions/checkout@v2

      - name: Deploy docker compose to a pre-configured server
        id: deploy
        uses: wshihadeh/docker-deployment-action@v1
        with:
          remote_docker_host: ${{ secrets.SANDBOX_HOST }}
          ssh_private_key: ${{ secrets.SSH_PRIV_KEY }}
          ssh_public_key: ${{ secrets.SSH_KNOWN_HOSTS}}
          deployment_mode: docker-compose
          stack_file_name: docker-compose.yml
          args: up -d
